.card-hero-container {
  display: flex;
  justify-content: center; /* Centra verticalmente */
  align-items: center; /* Centra horizontalmente */
  background-color: #f5f0e5; /* Fondo opcional */
}

.card-hero {
  display: flex;
  flex-direction: column; /* Coloca los elementos en columna */
  justify-content: center;
  align-items: center;
  text-align: center; /* Centra el texto */
  padding: 20px; /* Espaciado interno */

  background-color: rgba(0, 0, 0, 0.05); /* Fondo sutil */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra ligera */
  max-width: 90%; /* Evita que sea más grande que la pantalla */
}

.card-hero h1 {
  margin-bottom: 10px;
  font-size: 2rem;
  color: #1278c2;
}

.card-hero p {
  font-size: 1rem;
  color: #333;
  line-height: 1.5;
}

.card-img {
  position: relative; /* Para posicionar elementos dentro del contenedor */
  width: 300px; /* Ancho de la tarjeta */
  height: 600px; /* Alto de la tarjeta */
  overflow: hidden; /* Asegura que no haya contenido desbordante */
  border-radius: 10px;
}

.card-img img {
  width: 100%; /* La imagen ocupa el ancho del contenedor */
  height: 100%; /* La imagen ocupa el alto del contenedor */
  object-fit: cover; /* Ajusta la imagen para cubrir todo el contenedor */
}

.card-text {
  position: absolute; /* Posición absoluta dentro del contenedor */
  bottom: 0; /* Se coloca en la parte inferior */
  width: 100%; /* Ocupa todo el ancho del contenedor */
  background-color: #d2691e; /* Barra negra semitransparente */
  color: #fff; /* Texto en blanco */
  text-align: center; /* Texto centrado */
  padding: 10px 0; /* Espaciado interno */
  font-size: 1rem; /* Tamaño del texto */
}
.card-text :hover {
  transform: scale(1.2);
}

.card-link {
  text-decoration: none; /* Sin subrayado para el enlace */
}
